// Globals
@import "./breakpoints.scss";
@import "./colors.scss";
@import "./fonts.scss";
@import "./spacing.scss";
@import "./normalize.scss";

// Main
@import "./main/index.scss";

// Components
@import "./components/index.scss";

// UI
@import "./ui/index.scss";

// Pages
@import "./pages/home.scss";
@import "./pages/todos.scss";

.page-container {
  position: relative;
  min-height: 100vh;
  padding: 15vh 0;

  form {
    button {
      width: 100%;
    }
  }
}
